In [1]:
import pandas as pd
import seaborn as sns
from sklearn.linear_model import LogisticRegression
df = pd.read_csv('bank/bank-full.csv',sep=';')
df.columns = ["age","job","marital","education","default","balance","housing","loan","contact","day","month","duration","campaign","pdays","previous","poutcome","y"]
df_No_y = df.drop('y',axis = 1)
df_y = df[['y']]
df_No_y.head()

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome
0,58,management,married,tertiary,no,2143,yes,no,unknown,5,may,261,1,-1,0,unknown
1,44,technician,single,secondary,no,29,yes,no,unknown,5,may,151,1,-1,0,unknown
2,33,entrepreneur,married,secondary,no,2,yes,yes,unknown,5,may,76,1,-1,0,unknown
3,47,blue-collar,married,unknown,no,1506,yes,no,unknown,5,may,92,1,-1,0,unknown
4,33,unknown,single,unknown,no,1,no,no,unknown,5,may,198,1,-1,0,unknown

In [2]:
df_Categorical = df.drop(["age","balance","day","duration","campaign","pdays","previous"],axis=1)
df_Onehot_Cat = pd.get_dummies(df_Categorical)
df_Onehot_Cat_y = df_Onehot_Cat.join([df_y])
df_Onehot_Cat_y.head()

,job_admin.,job_blue-collar,job_entrepreneur,job_housemaid,job_management,job_retired,job_self-employed,job_services,job_student,job_technician,...,month_nov,month_oct,month_sep,poutcome_failure,poutcome_other,poutcome_success,poutcome_unknown,y_no,y_yes,y
0,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,1,1,0,no
1,0,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,1,1,0,no
2,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,1,0,no
3,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,1,0,no
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,1,0,no

In [3]:
df_Numeric = df.drop(["job","marital","education","default","housing","loan","contact","month","poutcome"],axis=1)
df_Numeric.shape
df_Numeric.head()
# sns.pairplot(df_Numeric,hue="y")

   age  balance  day  duration  campaign  pdays  previous   y
0   58     2143    5       261         1     -1         0  no
1   44       29    5       151         1     -1         0  no
2   33        2    5        76         1     -1         0  no
3   47     1506    5        92         1     -1         0  no
4   33        1    5       198         1     -1         0  no

In [4]:
df_Categorical = df.drop(["age","balance","day","campaign","pdays","previous","y"],axis=1)
df_Onehot_Cat = pd.get_dummies(df_Categorical)
df_Onehot_Cat_y = df_Onehot_Cat.join([df_y])
df_Onehot_Cat_y.shape
# sns.pairplot(df_Onehot_Cat_y,hue="y")

(45211, 46)

split à¸‚à¹‰à¸­à¸¡à¸¹à¸¥à¸›à¸£à¸°à¹€à¸ à¸— Numeric

In [5]:
from sklearn.model_selection import train_test_split
training_data_num, testing_data_num = train_test_split(df_Numeric, test_size=0.1, random_state=25)
x= training_data_num.iloc[:,0:7]
y= training_data_num.iloc[:,7]
# y.head()

In [6]:

#Build linear regression model
model_logistic_num = LogisticRegression()
model_logistic_num.fit(x,y)
# = theta0 + theta1*x _theta2*y
print("Theta0: ",model_logistic_num.intercept_[0])
print("Theta1: ",model_logistic_num.coef_[0][0])
print("Theta2: ",model_logistic_num.coef_[0][1])
print("0 = {:.4f}+{:.4f}x+{:.4f}y".format(model_logistic_num.intercept_[0],model_logistic_num.coef_[0][0],model_logistic_num.coef_[0][1]))

Theta0:  -0.3054743055036132
Theta1:  -0.042615515788283806
Theta2:  3.6842368171666545e-05
0 = -0.3055+-0.0426x+0.0000y

c:\Users\Kla\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:814: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(